__pycache__/
*.py[cod]
*.egg-info/
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/
.venv/
build/
dist/
htmlcov/
joflux.toml
config.yaml
migration_output/
*.log
.github/assets/website/.captures/
.github/assets/website/dist/
.github/assets/website/node_modules/
.DS_Store
